body {
    background-color: #250044;
    color: #dddddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 10px 0px;
}

#bovenkant {
    background-color: #00254f00;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 110px;
    background-image: url('afbeeldingen/background_mtb.jpg');
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(1.2) brightness(1.1) saturate(1.1);
}

.inleiding {
    font-size: 32px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}

main {
    width: 85%;
    margin: 20px auto;
}

.kaart {
    background-color: rgba(30, 202, 245, 0.438);
    border: 2px solid #00d9ff7a;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 19px;
}

h1 {
    margin: 0;
    font-size: 55px;
}

h2 {
    color: #add3ff;
    margin-bottom: 10px;
}

h3 {
    color: #add3ff;
}

p {
    line-height: 1.6;
}

img {
    width: 900px;
    border-radius: 20px;
    margin-top: 10px;
}

a {
    color: #00b3ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #00a6ff83;
    text-decoration: underline;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #00254f;
    margin-top: 20px;
}

footer p {
    animation: moveLeftToRight 4s infinite;
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(200px);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(200px);
    }
    50% {
        transform: translateX(-200px);
    }
}